[user]
	email = trongnghia203@gmail.com
    name = Nghia Le [at] 66.42.54.155

[alias]
  tree = log --oneline --decorate --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

